.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 200px;
  margin-top: -2px;
  margin-left: -100px;
  background-image: linear-gradient(
    -45deg,
    var(--loading) 25%,
    rgba($white, 0) 25%,
    rgba($white, 0) 50%,
    var(--loading) 50%,
    var(--loading) 75%,
    rgba($white, 0) 75%
  );
  background-color: rgba($white, 0.8);
  background-size: 80px 80px;
  border-radius: 2px;
  animation: load 0.8s linear infinite;
}

@keyframes load {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 80px;
  }
}
