.results {
  max-width: 50%;
  align-self: center;
  justify-self: center;

  @media screen and (max-width: 1280px) {
    max-width: 70%;
  }

  @media screen and (max-width: 640px) {
    max-width: unset;
  }

  &__inner {
    display: grid;
    gap: 15px;
    text-align: center;
    font-size: 1.8rem;
  }

  &__score {
    font-size: 2.2rem;
    font-weight: 600;
  }
}
